{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "project": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": "error",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx", ".css", ".json"],
        "alias": {
          "extensions": [".js", ".ts", ".tsx", ".css", ".json"],
          "map": [
            ["@", "./src"],
            ["@/assets", "./src/assets"],
            ["@/components", "./src/components"],
            ["@/constants", "./src/constants"],
            ["@/services", "./src/services"],
            ["@/styles", "./src/styles"],
            ["@/types", "./src/types"]
          ]
        }
      }
    }
  },
  "ignorePatterns": ["vite.config.ts", "tsconfig.json", "tsconfig.node.json", "custom.d.ts"]
}
